/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/08/2016, 09:21:20 AM
    Author     : rafael.esquivel
*/

.ui-widget, .ui-widget .ui-widget {
    font-size: 86%;
}

.ui-cell-editor-input input, .ui-cell-editor-input select {
    width: 100% !important;
}